certifi==2018.4.16
chardet==3.0.4
Django==2.0.6
django-autocomplete-light==3.3.0rc3
django-crispy-forms==1.7.2
django-extensions==1.9.9
django-filter==1.0.4
django-rest-framework==0.1.0
django-reversion==2.0.13
django-tables2==1.9.0
djangorestframework==3.7.7
idna==2.7
isodate==0.6.0
lxml==4.2.3
pyparsing==2.2.0
pytz==2018.4
rdflib==4.2.2
requests==2.19.1
six==1.11.0
SPARQLWrapper==1.8.2
typing==3.6.4
urllib3==1.23
wincertstore==0.2
