certifi==2017.4.17
chardet==3.0.4
Django==2.0.1
django-autocomplete-light==3.2.9
django-crispy-forms==1.7.0
django-filter==1.0.4
django-rest-framework==0.1.0
django-tables2==1.9.0
djangorestframework==3.7.7
idna==2.5
isodate==0.6.0
lxml==3.8.0
pyparsing==2.2.0
pytz==2017.3
rdflib==4.2.2
requests==2.18.1
six==1.10.0
SPARQLWrapper==1.8.0
style==1.1.0
update==0.0.1
urllib3==1.21.1
wincertstore==0.2
