{% extends "webpage/base.html" %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>
                {{ object }}<br/> <small>skos:prefLabel</small>
                {% if user.is_authenticated %}
                    <a href="{% url 'vocabs:skoslabel_update' pk=object.id %}">
                        <i class="far fa-edit" title="edit"></i>
                    </a>
                {% endif %}
            </h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Label</th>
                    <td>{{ object.label }}</td>
                </tr>
                <tr>
                    <th>Label type</th>
                    <td>{{ object.label_type }}</td>
                </tr>
                <tr>
                    <th>IsoCode</th>
                    <td>{{ object.isoCode }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
