{% extends "webpage/base.html" %}
{% block content %}
<div class="container">
    <div class="panel panel-default procustom-panel-list">
        <div class="panel-heading procustom-panel-heading">
            <h1>Concept Schemes</h1>
            <div>
                <a class="btn btn-primary" href="{% url 'vocabs:skosconceptscheme_create' %}" role="button">
                    create concept scheme
                </a>
            </div>
            <br />
        </div>
        <div class="panel-body procustom-panel-body">
            {% for object in object_list %}
                <li>
                    <a href="{% url 'vocabs:skosconceptscheme_detail' pk=object.id %}">
                        {{ object }}
                    </a>
                </li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
