{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object.name }}{% endblock %}
{% block scriptHeader %}
{% endblock %}
{% block content %}
<!-- <div class="container"> -->
<div class="card w-100">
  <div class="card-header">
    <div class="row">
      <div class="col-md-2">
        {% if object.get_prev %}
        <h2>
          <a href="{{ object.get_prev }}" title="previous">
            <i data-feather="chevron-left"></i>
          </a>
        </h2>
        {% endif %}
      </div>
      <div class="col-md-8">
        <h2 style="text-align: center;">
          <small><a href="{{ object.get_listview_url }}" title="back to listview"><small>{{ class_name }}</small></a></small>
          {{ object }}
          {% if user.is_authenticated %}
            <a href="{{ object.get_edit_url }}" title="edit">
              <i data-feather="edit"></i>
            </a>
            <a href="{{ object.get_delete_url }}" title="delete">
              <i data-feather="delete"></i>
            </a>
          {% endif %}
          {% if 'archeutils' in APPS %}
          <a href="{% url 'archeutils:res_as_arche_graph' app_name=app_name model_name=class_name|lower pk=object.id %}" title="As ARCHE-RDF">
            <i data-feather="download"></i>
          </a>
          {% endif%}
        </h2>
      </div>
      <div class="col-md-2">
        <h2>
          {% if object.get_next %}
          <a href="{{ object.get_next }}" style="float:right" title="next">
            <i data-feather="chevron-right"></i>
          </a>
        </h2>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body">
    {% block custom %}
    <legend>Basic Information</legend>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-responsive table-hover">
              {% for x in object.field_dict %}
              {% if x.value %}
              {% if user.is_authenticated %}
              <tr>
                <th>
                  {% if x.help_text %}
                  <abbr title="{{ x.help_text }}">{{ x.verbose_name }}</abbr>
                  {% else %}
                  {{ x.verbose_name }}
                  {% endif %}
                </th>
                <td>
                  {% if x.f_type == 'M2M' %}
                  {% for y in x.value %}
                  <li>
                    <a href="{{ y.get_absolute_url }}">{{ y }}</a>
                  </li>
                  {% endfor %}
                  {% elif  x.f_type == 'FK' %}
                  <a href="{{ x.value.get_absolute_url }}">{{ x.value }}</a>
                  {% elif  x.f_type == 'FK' %}
                  <a href="{{ x.value.get_absolute_url }}">{{ x.value }}</a>
                  {% elif  x.f_type == 'REVRESE_RELATION' %}
                  {% for y in x.value %}
                  <li>
                    <a href="{{ y.get_absolute_url }}">{{ y }}</a>
                  </li>
                  {% endfor %}

                  {% elif  x.f_type == 'SIMPLE' %}
                  {{ x.value }}
                  {% endif %}
                </td>
              </tr>
              {% elif not x.extra_fields or x.extra_fields.is_public %}
                {% if x.verbose_name != "The original data" and x.verbose_name != "ID" and x.verbose_name != "Matches FileChecker Entry" %}
                <tr>
                  <th>
                    {% if x.help_text %}
                    <abbr title="{{ x.help_text }}">{{ x.verbose_name }}</abbr>
                    {% else %}
                    {{ x.verbose_name }}
                    {% endif %}
                  </th>
                  <td>
                    {% if x.f_type == 'M2M' %}
                    {% for y in x.value %}
                    <li>
                      <a href="{{ y.get_absolute_url }}">{{ y }}</a>
                    </li>
                    {% endfor %}
                    {% elif  x.f_type == 'FK' %}
                    <a href="{{ x.value.get_absolute_url }}">
                      {% if x.verbose_name == "Copyright" %}
                        {{ x.value|upper }}
                      {% else %}
                        {{ x.value }}
                      {% endif %}
                      </a>
                    {% elif  x.f_type == 'FK' %}
                    <a href="{{ x.value.get_absolute_url }}"></a>
                    {% elif  x.f_type == 'REVRESE_RELATION' %}
                    {% for y in x.value %}
                    <li>
                      <a href="{{ y.get_absolute_url }}">{{ y|upper }}</a>
                    </li>
                    {% endfor %}

                    {% elif  x.f_type == 'SIMPLE' %}
                    {{ x.value|safe }}
                    {% endif %}
                  </td>
                </tr>
                {% endif %}
              {% endif %}
              {% endif %}
              {% endfor %}
            </table>
        </div>
    </div>


  </div>
</div>
{% endblock custom %}
{% endblock %}
