{% extends "browsing/generic_detail.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block scriptHeader %}
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
        #map { height: 500px; }
    </style>
{% endblock %}

{% block custom %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Info</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                Name
                            </th>
                            <td>
                                {{ object.name }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Geonames URL
                            </th>
                            <td>
                                {{ object.geonames_id }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Geonames ID
                            </th>
                            <td>
                                {{ object.get_geonames_rdf }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Coordinates
                            </th>
                            <td>
                                <abbr title="lat">{{ object.lat|truncatechars:8  }}</abbr>
                            <br/>
                            <abbr title="lng">{{ object.lng|truncatechars:8  }}</abbr>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Alternative Names
                            </th>
                            <td>
                                <ul>
                                    {% for x in object.alternative_name.all %}
                                    {% if x.id %}
                                    <li><a href="{% url 'entities:alternativename_detail' pk=x.id %}">{{ x }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Part of
                            </th>
                            <td>
                                {% if object.part_of %}

                                <a href="{% url 'entities:place_detail' pk=object.part_of.id %}">{{ object.part_of }}</a>
                                {% else %}
                                No entry
                                {% endif %}
                            </td>

                        </tr>
                        <tr>
                            <th>has child</th>
                            <td>
                                <ul>
                                    {% for x in object.has_child.all %}
                                        {% if x.id %}
                                            <li>
                                                <a href="{% url 'entities:place_detail' pk=x.id %}">{{ x }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Map</h3>
                </div>
                <div class="card-body">
                    <div id="map"/>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        {% if object.lat %}
            $( document ).ready(function() {
                var placeName = "{{ object.name }}"
                var lat = "{{ object.lat }}"
                var lng = "{{ object.lng }}"
                var map = L.map('map').setView([lat, lng], 10);
                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox.light',
                    accessToken: 'pk.eyJ1Ijoic2VubmllcmVyIiwiYSI6ImNpbHk1YWV0bDAwZnB2dW01d2l1Y3phdmkifQ.OljQLEhqeAygai2y6VoSwQ'
                }).addTo(map);
                L.marker([lat, lng]).addTo(map)
                .bindPopup(placeName)
                .openPopup();
            });
        {% endif %}
    </script>
    <div class="card col-md-12">
        <div class="card-header">
            <h3 class="card-title">Beziehungen</h3>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">zu Dokumenten</h3>
                </div>
                <div class="card-body">
                    <legend>
                        Erwähnt in
                    </legend>
                    <ul>
                        {% for x in object.place_mentioned_in_res.all %}
                            <li>
                                <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">zu Institutionen</h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            item 1
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">zu Personen</h4>
                </div>
                <div class="card-body">
                    <legend>
                        Geburtsort von
                    </legend>
                    <ul>
                        {% for x in object.is_birthplace.all %}
                            <li>
                                <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <legend>
                        Sterbeort von
                    </legend>
                    <ul>
                        {% for x in object.is_deathplace.all %}
                            <li>
                                <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock custom%}
