{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load webpage_extras %}
{% block title %} About {% endblock %}
{% block content %}
<div class="container">
    <p>
        {% crispy form %}
    </p>
    <legen>Parsed and Enriched</legen>
        {% for x in result %}
            <h3>{{ x.sent }}</h3>
            <table class="table">
                <tr>
                    <th>
                        Text
                    </th>
                    <th>
                        Lemma
                    </th>
                    <th>
                        POS
                    </th>
                    <th>
                        TAG
                    </th>
                    <th>
                        DEP
                    </th>
                    <th>
                        SHAPE
                    </th>
                </tr>
                {% for token in x.tokens %}
                    <tr>
                        <td>
                            {{ token.text }}
                        </td>
                        <td>
                            {{ token.lemma }}
                        </td>
                        <td>
                            {{ token.pos }}
                        </td>
                        <td>
                            {{ token.tag }}
                        </td>
                        <td>
                            {{ token.dep }}
                        </td>
                        <td>
                            {{ token.shape }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}

</div>
{% endblock %}
