{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load webpage_extras %}
{% block title %} About {% endblock %}
{% block content %}
<div class="container">
    <h1>{{ token }}</h1>
    <p>
        {% crispy form %}
    </p>
    <legend>Lemmas for: {{ token }}</legend>
    <ul>
        {% for x in synset_list %}
            {% for y in x.orthForm %}
                <li>
                    {{ y }}
                </li>
            {% endfor %}
        {% endfor %}
    </ul>

    <legend>Hypernym pahts for: {{ token }}</legend>
    <ul>
        {% for x in synset_list %}
            {% for y in x.path %}
                <h3>Path</h3>
                    {% for p in y %}
                        <li>
                            {{ p }}
                        </li>
                    {% endfor %}
                <hr/>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
