{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load stats_extras %}
{% load webpage_extras %}
{% block content %}

        <div class="jumbotron" style="background-image: url({% static 'webpage/img/project_background.jpg' %}) ">
            <div class="container">
                <h1 style="text-align:center; color: #111;">{% projects_metadata 'title' %}</h1>
                <h3 style="text-align:center; color: #111;">{% projects_metadata 'subtitle' %}</h3>
                <h5 style="text-align:center; color: #111;">{% projects_metadata 'description' %}</h5>
            </div>
        </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <h4>Data-Count</h4>
            </div>
            {% create_object_count app='vocabs' as models %}
            {% for x in models %}
                <div class="col-md-4  text-center">
                    <div class="card flex-md-row mb-4 box-shadow">
                        <div class="card-body">
                            <h4 class="mb-0">{{x.name}}</h4>
                            <h4 class="count">{{ x.count }}</h4>
                            {% if x.link %}
                                <a class="btn btn-main btn-outline-primary btn-sm" href="{{ x.link }}" role="button">View Details</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
