{% extends "webpage/base.html" %}
{% load bib_extras %}
{% block content %}
<div class="container">
	<h1>Results</h1>
	<table class="table table-hover">
		<tr>
			<th>books in db before update operation:</th>
			<td>{{ books_before }}<td>
		</tr>
		<tr>
			<th>books in db after update operation:</th>
			<td>{{ books_after }}<td>
		</tr>
		<tr>
			<th>updated</th>
			<td>
                {% if saved %}
                    {% for x in saved %}
                        <li>
                            {% bib_quote x %}
                        </li>
                    {% endfor %}
                {% else %}
                    no updates
                {% endif %}
			</td>
		</tr>

	</table>
</div>

{% endblock %}
