{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load webpage_extras %}
{% block title %} About {% endblock %}
{% block content %}
<div class="container">
    {% if token %}
        <h1>{{ token }}</h1> <a href="../lemma?token={{ token }}&format=json">See result as JSON</a>
    {% endif %}
    <p>
        {% crispy form %}
    </p>
    <legen>Enriched</legen>
        <table class="table">
            <tr>
                <th>
                    Lemma
                </th>
                <td>
                    {{ lemma }}
                </td>
            </tr>
            <tr>
                <th>
                    POS
                </th>
                <td>
                    {{ pos }}
                </td>
            </tr>
            <tr>
                <th>
                    Tag
                </th>
                <td>
                    {{ tag }}
                </td>
            </tr>
        </table>

</div>
{% endblock %}
